@using EntityLayer.Concrete
@model List<WriterUser>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/NewTAdminLayout.cshtml";
}

<div class="col-md-6">
    <div class="p-2">
        <button type="button" id="btngetlistall" class="btn btn-info">Verileri Getir </button>
        <button type="button" id="btnadduser" class="btn btn-primary">Kaydet</button>
    </div>
</div>

<h4 class="text-center">Yazar Listesi</h4>
<div class="p-2" id="listuser">
    Buraya veriller gelecek
</div>

<br />

<div class="col-md-12">
    <input type="text" class="form-control" id="inpname" placeholder="Ad" />
    <br />
    <input type="text" class="form-control" id="inpsurname" placeholder="Soyad" />
    <br />
    <input type="text" class="form-control" id="inpusername" placeholder="Kullanıcı Ad" />
    <br />
    <input type="text" class="form-control" id="inpmail" placeholder="Mail" />
    <br />
</div>


@section Scripts
    {
    <script>
        $("#btngetlistall").click(function(){
            $.ajax({
                contentType:"application/json",
                dataType: "json",
                type: "Get",
                url: "/WriterUser/ListUser/",

                success: function(funk){
                    let users = jQuery.parseJSON(funk) ;
                    console.log(users);
                }
            });
        });

    </script>
}
<script src="~/lib/jquery/dist/jquery.js"></script>