@model EntityLayer.Concrete.SocialMedia

@{
    ViewData["Title"] = "EditSocialMedia";
    Layout = "~/Views/Shared/NewTAdminLayout.cshtml";
}


@using (Html.BeginForm("EditSocialMedia", "SocialMedia", FormMethod.Post))
{
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title"> Hesaap Güncelleme Paneli</h4>

                <form class="forms-sample">
                    <div class="form-group">
                        <label>ID</label>
                        @Html.TextBoxFor(x=>x.SocialMediaID , new {@class="form-control"})
                    </div>
                    <div class="form-group">
                        <label>Başlık</label>
                        @Html.TextBoxFor(x=>x.Name , new {@class="form-control"})
                    </div>
                    <div class="form-group">
                        <label>Hesap Url</label>
                        @Html.TextBoxFor(x=>x.Url , new {@class="form-control"})
                    </div>
                    <div class="form-group">
                        <label>Ikon Url</label>
                        @Html.TextBoxFor(x=>x.Icon , new {@class="form-control"})
                    </div>
                    <button type="submit" class="btn btn-outline-success">Güncelle</button>
                    <button class="btn btn-outline-danger">İptal</button>
                </form>
            </div>
        </div>
    </div>
}

